/* .skill p::before {
  content: '';
  display: inline-block;
  background: #3c3d3d;
  width: 2px;
  height: 15px;
  margin-right: 1rem;
  rotate: 30deg;

} */


.skill {
  display: flex;
  column-gap: 1rem;
  /* place-content: center; */
}

.skill span {
  font-size: 1rem;
  letter-spacing: .1rem;
  rotate: 10deg;
}

